<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gashang – Modern Blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/icon.png">
    <!-- Google font (font-family: 'Raleway', sans-serif; 'Lato', sans-serif;) -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/plugins.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- Cusom css -->
    <link rel="stylesheet" href="css/custom.css">
    <!-- Modernizer js -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <!-- Main wrapper -->
    <div class="wrapper" id="wrapper">
        <!-- Start Header Area -->
        <header class="header pr__header header--three var--2">
            <!-- Start Header Top -->
            <div class="pr__header__top bg--cart-1">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-9 col-md-9 d-none d-lg-block">
                            <nav class="mainmenu__nav">
                                <ul class="mainmenu">
                                    <li><a href="/">Home</a></li>
                                   
                                    <li><a href="/blogdetails">Blog</a></li>
                                   
                                 
                                     <%  if session[:user_id]==nil %>
                                       <li><a href="/about">about us</a></li>
                                       <li><a href="/signup">Sign up</a></li>
                                       <li><a href="/login">Log In</a></li>
                                    <%  else %>
                                        <li><a href="/about" style="color:#81ad7b;font-weight:700;">about me</a></li>
                                         <li><a href="/myposts">My Posts</a></li>
                                         <li><a href="/logout">Log Out</a></li>
                                         <li><a href="/cancelaccount">Cancel Account</a></li>
                                         <li><a href="#" style="color:#81ad7b;font-weight:700; font-size:10px; "><%= @user.full_name %></a></li>
                                     <%  end%>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                            <div class="search__trigger"> <a class="search__active" href="#"><i class="fa fa-search"></i></a> </div>
                        </div>
                    </div>
                    <div class="row  d-none">
                        <div class="col-lg-12">
                            <nav class="mobilemenu__nav">
                                <ul>
                                   <li><a href="/">Home</a></li>
                                   
                                    <li><a href="/blogdetails">Blog</a></li>
                                 
                                     <%  if session[:user_id]==nil %>
                                       <li><a href="/about">about us</a></li>
                                       <li><a href="/signup">Sign up</a></li>
                                       <li><a href="/login">Log In</a></li>
                                    <%  else %>
                                        <li><a href="/about" style="color:#81ad7b;font-weight:700;">about me</a></li>
                                         <li><a href="/myposts">My Posts</a></li>
                                         <li><a href="/logout">Log Out</a></li>
                                         <li><a href="/cancelaccount">Cancel Account</a></li>
                                         <li><a href="#" style="color:#81ad7b;font-weight:700; font-size:10px; "><%= @user.full_name %></a></li>
                                     <%  end%>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="mobile-menu d-block d-lg-none"></div>
                    <!-- Mobile Menu -->
                </div>
            </div>
            <!-- End Header Top -->
            <!-- Start Logo -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="logo text-center">
                            <a href="#"><img src="images/logo/1.png" alt="gashang logo"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Logo -->
        </header>
        <!-- End Header Area -->
        <!-- Start Search Popup -->
        <div class="box-search-content search_active block-bg close__top">
            <form id="search_mini_form" class="minisearch" action="#">
                <div class="field__search">
                    <input type="text" placeholder="Search entire store here...">
                    <div class="action"> <a href="#"><i class="fa fa-search"></i></a> </div>
                </div>
            </form>
            <div class="close__wrap"> <span>close</span> </div>
        </div>
        <!-- End Search Popup -->
        <!-- Start Bradcaump area -->
        <div class="pr__bradcaump__area bg-image--7">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">Contact Us</h2>
                            <nav class="bradcaump-content"> <a class="breadcrumb_item" href="/">Home</a> <span class="brd-separetor">/</span> <span class="breadcrumb_item active">Contact Us</span> </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start Contact Area -->
        <div class="panora__contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="contact__form">
                            <h2 class="ct__title">TELL US YOUR PROJECT</h2>
                            <form id="contact-form" action="#" method="post">
                                <div class="single-contact-form space-between">
                                    <input type="text" name="name" placeholder="Your Name">
                                    <input type="email" name="email" placeholder="Your Email"> </div>
                                <div class="single-contact-form">
                                    <input type="text" name="subject" placeholder="Subject"> </div>
                                <div class="single-contact-form message">
                                    <textarea name="message" placeholder="Message"></textarea>
                                </div>
                                <div class="contact-btn">
                                    <button type="submit" class="pr__btn">Send message</button>
                                </div>
                            </form>
                            <div class="form-output">
                                <p class="form-messege"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 sm-mt--30 md-mt--30">
                        <div class="contact__address">
                            <h2 class="ct__title">CONTACT US</h2>
                            <div class="panora__address">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. etitd In, et?</p>
                                <div class="address">
                                    <div class="icon"> <i class="fa fa-map-marker"></i> </div>
                                    <p>Address : No 55 ABC Sreet 111/2
                                        <br> NewYork City, NY, United States.</p>
                                </div>
                                <div class="address">
                                    <div class="icon"> <i class="fa fa-envelope"></i> </div>
                                    <p>Infor@example.com</p>
                                </div>
                                <div class="address">
                                    <div class="icon"> <i class="fa fa-phone"></i> </div>
                                    <p>111 1111 1111</p>
                                </div>
                            </div>
                            <div class="working__hours">
                                <h4>Working hours</h4>
                                <p><span>Monday - Saturday:</span> 08AM - 22PM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Contact Area -->
        <!-- Start Footer ARea -->
        <footer class="panora__footer">
            <div class="bg--cart-1">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="blog__cat">
                                <li><a href="#">categories</a></li>
                                <li><a href="#">fashion</a></li>
                                <li><a href="#">lifestyle</a></li>
                                <li><a href="#">beauty</a></li>
                                <li><a href="#">contact</a></li>
                                <li><a href="#">archives</a></li>
                            </ul>
                            <ul class="pn-sociable-default">
                                <li>
                                    <div class="icon"> <a href="#"><i class="fa fa-tumblr"></i></a> </div>
                                    <div class="content">
                                        <h6><a href="#">tumblr</a></h6> <span>100</span> </div>
                                </li>
                                <li>
                                    <div class="icon"> <a href="#"><i class="fa fa-rss"></i></a> </div>
                                    <div class="content">
                                        <h6><a href="#">rss</a></h6> <span>100</span> </div>
                                </li>
                                <li>
                                    <div class="icon"> <a href="#"><i class="fa fa-twitter"></i></a> </div>
                                    <div class="content">
                                        <h6><a href="#">twitter</a></h6> <span>100</span> </div>
                                </li>
                                <li>
                                    <div class="icon"> <a href="#"><i class="fa fa-google-plus"></i></a> </div>
                                    <div class="content">
                                        <h6><a href="#">google plus</a></h6> <span>100</span> </div>
                                </li>
                                <li>
                                    <div class="icon"> <a href="#"><i class="fa fa-facebook"></i></a> </div>
                                    <div class="content">
                                        <h6><a href="#">facebook</a></h6> <span>100</span> </div>
                                </li>
                                <li>
                                    <div class="icon"> <a href="#"><i class="fa fa-youtube-play"></i></a> </div>
                                    <div class="content">
                                        <h6><a href="#">youtube</a></h6> <span>100</span> </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Instagram Area -->
            <div class="panora__instagram">
                <ul class="instagram__list owl-carousel owl-theme">
                    <li>
                        <a href="#"><img src="images/instagram/1.jpg" alt="gashang blog"></a>
                    </li>
                    <li>
                        <a href="#"><img src="images/instagram/2.jpg" alt="gashang blog"></a>
                    </li>
                    <li>
                        <a href="#"><img src="images/instagram/3.jpg" alt="gashang blog"></a>
                    </li>
                    <li>
                        <a href="#"><img src="images/instagram/4.jpg" alt="gashang blog"></a>
                    </li>
                    <li>
                        <a href="#"><img src="images/instagram/5.jpg" alt="gashang blog"></a>
                    </li>
                    <li>
                        <a href="#"><img src="images/instagram/6.jpg" alt="gashang blog"></a>
                    </li>
                </ul>
                <div class="instagram__title">
                    <h2>Follow Us On instagram</h2>
                </div>
            </div>
            <!-- End Instagram Area -->
            <!-- Copyright Area -->
            <div class="copyright__area bg--white">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-12 col-sm-6">
                            <div class="ft__left">
                                <p>Copyright © Gashang. All Rights Reserved</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 col-sm-6">
                            <div class="ft__right">
                                <p>Proudly presented by Gashang Blog</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Copyright Area -->
        </footer>
        <!-- End Footer ARea -->
    </div>
    <!-- //Main wrapper -->
    <!-- JS Files -->
    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/active.js"></script>
</body>

</html>
